.modal .modal-content{
    padding: 0 !important;
}
#close{
    padding: 0 !important;
}
#close_row{
    margin: 0;
}
#sign-up-text{
    cursor: pointer;
}
#forgot{
    cursor: pointer;
}
#terms{
    font-size: 12px;
}
#removepadd1{
    padding: 0 !important;
}
#removepadd2{
    padding: 0 !important;
}
#row12{
    height: 80% !important;
}
/*#banner{
    background: url('../../assets/images/banner.png') no-repeat;
    background-size: 40% 100%;
}*/
#userpic1{
    height: 65px;
}
#error_div{
    border-radius: 5px;
}
/*@media screen and (max-width: 600px){
    #banner{
        background: none;
    }
}*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#profileadal{
    border-radius: 50%;
}
