#userpic{
    background: url('../../../assets/images/man (2).png') no-repeat bottom;
    background-size: 200px 200px;
    height: 200px !important;
}
#margin_remove1{
    margin: 0;
}
#card_row1{
    margin: 0;
}
#cancel_web{
    cursor: pointer;
}
@media screen and (max-width: 450px){
    #info_col{
        padding-top: 10% !important;
    }
}
@media screen and (min-width: 450px , max-width: 1130px){
    #info_col{
        padding-top: 8% !important;
    }
}
#snackbar1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#profileBooking{
    border-radius: 50%;
}