
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://c1.staticflickr.com/2/1560/25726431595_e4e2294ffd_b.jpg);

    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
    margin: 0;
    padding: 0;
}

.tint:before {
    
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
  transition: all .3s linear;
  z-index: 1;
}

.login input[type=text] {
    width: 250px;
    height: 30px;
    background: transparent;
    /*border: 3px solid rgba(255, 255, 255, 0.6);*/
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
}

.login input[type=password] {
    width: 250px;
    height: 30px;
    background: transparent;
    /*border: 1px solid rgba(255, 255, 255, 0.6);*/
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.login input[type=button] {
    width: 260px;
    height: 35px;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
}

.login input[type=button]:hover {
    opacity: 0.8;
}

.login input[type=button]:active {
    opacity: 0.6;
}

.login input[type=text]:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
}

.login input[type=password]:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
}

.login input[type=button]:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}

::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
}